// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "sg-";

$primary: #1ab5c1;
$custom-colors: (
    "black": #000,
    "white": #fff,
    "warning": #ff0,
    "icon-bg": rgba(255, 255, 255, 0.2),
    "gray": #ddd
);

$theme-colors: (
    "primary": $primary,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// Then import Bootstrap
@import "./bootstrap/scss/bootstrap";

// Common
a {
    text-decoration: none;
}
ul,
li {
    list-style: none;
}

.section-subtitle {
    font-size: 18px;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.bg-gray-300 {
    background: #ddd !important;
}

.mb-40px {
    margin-bottom: 40px;
}

.mb-20px {
    margin-bottom: 20px;
}

input:focus,
input:focus-visible,
select:focus,
select:focus-visible {
    outline: 0;
}

// Banner
section#banner {
    height: 100vh;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    position: relative;
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: rgb(0 0 0 / 51%);
        z-index: -2;
        display: block;
        width: 100%;
        height: 100%;
    }
    h1 {
        color: #fff;
        font-size: 80px;
        margin-bottom: 20px;
    }

    p {
        color: #fff;
        font-size: 24px;
    }

    a.sg-btn {
        padding: 15px 20px;
        border-radius: 6px;
        background: $primary;
        color: var(--sg-white) !important;
        margin: 20px 0 40px;
        display: inline-block;
        transition: all 0.3s;
        border: 2px solid $primary;
        &:hover {
            background: transparent;
            border-color: var(--sg-white);
        }
    }

    .sg-filter-row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input,
    select {
        width: 100%;
        padding: 12px 18px;
        border: 1px solid $primary;
        outline: 0;
        font-size: 14px;
        background-color: #fff;
        color: $primary;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 0;
        -webkit-appearance: none;
        appearance: none;

        &::placeholder {
            color: $primary;
        }
    }
    select {
        border-left: 0;
    }

    ul.location-lists {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 70px;
            height: 70px;
            background: #ddd;
            border-radius: 50%;
            font-size: 15px;
            color: #fff !important;
            background: var(--sg-icon-bg);
            box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
            transition: all 0.3s;
            &:hover {
                background: $primary;
            }
            h3 {
                font-size: inherit;
                margin-top: 6px;
            }
        }
    }
}

// Search replace
.quick-search {
    padding: 100px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    position: relative;
    color: #fff;
    counter-reset: sag;
    .section-title {
        margin-bottom: 40px;
    }
    .single-qs-item {
        text-align: left;
        p {
            color: #fff;
        }
        &-top {
            padding-left: 45px;
            position: relative;
            &:before {
                position: absolute;
                left: 0;
                top: 0;
                font-size: 50px;
                color: #fff;
                counter-increment: sag;
                content: counter(sag);
                display: inline-block;
            }
        }
    }
}

// Location CPT
.locations-section {
    padding-top: 70px;
    padding-bottom: 70px;

    ul.location-lists {
        display: grid !important;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        li {
            list-style: none;
            position: relative;
            display: inline-flex;

            &:first-child {
                grid-row: 1 / 3;
                display: inline-grid;
            }

            a {
                width: 100%;
                display: block;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            h3 {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

// Location Taxonomy/ Category
.single-listing-item {
    background: #fff;

    .flex1 {
        flex: 1;
    }

    .sg-filter-row {
        display: flex;
        align-items: center;

        h5 {
            font-size: 17px;
            line-height: 1.3;
            font-weight: 500;
            margin: 15px 0;
            color: var(--sg-black);
        }

        input[type="text"],
        select {
            width: 100%;
            padding: 12px 18px;
            border: 1px solid $primary;
            outline: 0;
            font-size: 14px;
            background-color: #fff;
            color: $primary;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin-bottom: 0;
            -webkit-appearance: none;
            appearance: none;

            &::placeholder {
                color: $primary;
            }
        }

        select {
            border-left: 0;
        }
    }

    .sg-filter-row-2 {
        background: $primary;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        // border-radius: 5px;

        p {
            font-size: 16px;
            color: #fff;
            margin: 5px 10px;
            flex: 1;
        }

        .sortby-row {
            display: flex;
            justify-content: space-between;
            flex: 2;

            select {
                width: 100%;
                justify-self: flex-end;
                background: transparent;
                border: 0;
                border-left: 1px solid #fff;
                color: #fff;
                -webkit-appearance: none;
                appearance: none;
                padding-left: 10px;
            }
        }
    }

    .sg-result-posts {
        ul {
            margin: 0;
            padding: 0;

            li {
                display: flex;
                gap: 20px;
                display: flex;
                margin-bottom: 20px;
            }

            .sg-feature-img {
                max-width: 255px;
                width: 100%;
                flex-shrink: 0;

                a {
                    display: block;
                }
            }

            .sg-result-content {
                padding: 10px;

                .sg-listing-title {
                    font-size: 24px;
                    margin-bottom: 5px;
                    color: var(--sg-black);
                    a {
                        color: inherit !important;
                        font-size: inherit;
                        line-height: inherit;
                        letter-spacing: inherit;
                    }
                }
                span.sg-listing-item-address {
                    font-size: 14px;
                    margin-bottom: 15px;
                    color: #727272;
                    display: inline-block;
                }
                .sg-post-excerpt {
                    font-size: 16px;
                    color: #000;
                    line-height: 24px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

// Testimonials
.testimonials-wrapper {
    padding: 40px 0;
    .single-testimonial-item {
        // display: flex !important;
        // align-items: center;
        // gap: 30px;

        img {
            max-width: 150px;
            height: 150px;
            object-fit: cover;
            margin-bottom: 30px;
            border-radius: 50%;
        }
    }

    .single-testimonial-item-top {
        h3 {
            font-size: 20px;
            margin-bottom: 15px;
        }

        h5 {
            font-weight: 400;
            font-size: 14px;
            color: #777;
        }
        p {
            font-size: 18px;
            font-style: italic;
            font-weight: 700;
        }
    }
}

// Share your experience
.discover-places,
.share-experience {
    padding: 80px 0;
    background: #fff;

    .single-posts {
        .single-post-item {
            margin-top: 20px;

            .single-post-item-content {
                position: relative;

                h3 {
                    margin-right: 20px;
                    color: $primary;
                }
            }

            img {
                max-width: 100%;
                height: auto;
                margin-bottom: 15px;
            }
        }
    }
}

// Wishlist
.sag-wishlist {
    position: absolute;
    top: -4px;
    right: 10px;
    background: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4px;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    &.wishlisted {
        background: #1e73be;
        i::before {
            color: #fff;
            content: "\f415";
        }
    }
}

// Single listing
.single-location-wrapper {
    background: #f8f8f8;
    .single-listing-banner {
        height: 300px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .sag-container {
        max-width: 1200px;
        margin: -80px auto 0;
        padding: 60px;
        background: #fff;
    }

    img {
        max-width: 100%;
        // height: 327px;
        height: 100%;
    }

    .single-listing-gallery {
        height: 387px;
        margin: 50px 0;
        box-sizing: border-box;

        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -25px;
            border: 0;
            height: 60px;
            width: 90px;
            background: rgb(0 0 0 / 35%);
            color: #fff;
            font-weight: 700;
            border-radius: 5px;
            transition: all 0.3s;
            z-index: 6;
            &.slick-next {
                left: unset;
                right: -25px
            }
            &:hover {
                background: $primary;
            }
        }
    }

    ul.sag-tags {
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        gap: 6px;
        a {
            border: 1px solid $primary;
            padding: 6px 12px;
            text-transform: uppercase;
            display: inline-block;
            font-weight: 500;
            color: var(--sg-black) !important;
            transition: all 0.3s;
            border-radius: 5px;
            &:hover {
                background: $primary;
                color: var(--sg-white) !important;
            }
        }

    }
}

// Sinle Post Video
.sag-video {
    margin: 40px 0;
    iframe {
        height: 380px;
        max-width: 680px;
        width: 100%;
    }
}



// Single Post List Style
.single-location-wrapper ul,
.single-location-wrapper ul.sag-amenities,
.single-location-wrapper ul.sag-ul {
    display: flex;
    align-items: center;
    margin: 0 0 20px;
    padding: 0;
    gap: 15px;
    i {
        color: $primary;
        margin-right: 8px;
    }
}

// Single Listing Socials
.sag-listing-socials {
    li {
        a {
            i {
                color: var(--sg-black);
                transition: all 0.3s;
            }
            &:hover {
                i {
                    color: $primary !important;
                }
            }
        }
    }
}

// Single Listing Title
.single-listing-title {
    font-size: 18px;
    color: var(--sg-black);
    font-weight: 500;
    margin-bottom: 15px;
    span {
        font-size: 12px;
        margin-top: 5px;
        display: inline-block;
    }
}

// Plugin not install/ active
.plugin-not-active {
    background: var(--sg-warning);
    padding: 10px;
    display: block;
    margin: 10px 0;
    border-radius: 5px;
}

// Single Listing right side
.sag-g-map {
    position: relative;
    
    .sag-address {
        background: rgba(0,0,0,.65);
        color: #fff;
        padding: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;
        p {
            color: var(--sg-white);
        }
        a {
            color: inherit !important;
        }
    }
}

// Single Listing Sidebar
.sag-listing-sidebar-item {
    margin: 20px 0;
}

// Single Listing Features
.single-listing-features {
    margin: 20px 0 10px;

    p {
        font-size: 14px;
        margin-bottom: 10px;
        color: #aaa;
        font-weight: 500;
    }
}

// Single Listing Form
.sag-form {
    .sag-enquire-div {
        border: 1px solid $primary;
        border-radius: 6px;
        input,
        select,
        textarea {
            font-size: 16px;
            border: 0;
            padding: 8px 15px;
            background: transparent;
            width: 100%;
            -webkit-appearance: none;
            appearance: none;
            color: $primary;
        }

        select + input,
        input + input {
            border-top: 1px solid $primary;
        }
        &.sag-enquire {
            border: 1px solid var(--sg-gray);
            select + input,
            input + textarea,
            input + input {
                border-top: 1px solid var(--sg-gray);
            }
            input,
            textarea,
            select {
                color: var(--sg-gray);
            }
        }
        textarea {
            outline: 0;
            resize: none;
        }
    }
    
    input[type="submit"] {
        border: 2px solid #1ab5c1;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        padding: 6px 20px 6px 15px;
        background: #1ab5c1;
        box-sizing: border-box;
        margin-top: 15px;
        width: auto;
        border-radius: 5px;
        color: #fff;
        transition: all 0.3s;
        text-align: left;
        &:after {
            content: "\f061";
            margin-left: 8px;
            font-size: inherit;
            font-family: 'Font Awesome 5 Brands';
            font-family: 'FontAwesome';
        }
        &:hover {
            background-color: transparent;
            color: $primary;
        }
    }
}

// Single Listing Recommended Post
.sag-recommended-post {
    .feature-img {
        position: relative;
        div {
            position: absolute;
            bottom: 0;
        }
    }
} 