// Variable overrides first
$color-primary: #6EC1E4;
$color-secondary: #54595F;
$color-text: #7A7A7A;
$color-accent: #61CE70;
$enable-shadows: true;
$prefix: "sg-";

$color-primary: #1ab5c1;
$custom-colors: (
	"black": #000,
	"white": #fff,
	"warning": #ff0,
	"icon-bg": rgba(255, 255, 255, 0.2),
	"gray": #ddd,
);

$theme-colors: (
	"primary": $color-primary,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// Then import Bootstrap
@import "./bootstrap/scss/bootstrap";

// Common
a {
	text-decoration: none;
    transition: all .3s;
}
ul,
li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
}
.section-subtitle {
	font-size: 18px;
	max-width: 540px;
	margin-left: auto;
	margin-right: auto;
}

.bg-gray-300 {
	background: #ddd !important;
}

.mb-40px {
	margin-bottom: 40px;
}

.mb-20px {
	margin-bottom: 20px;
}

input:focus,
input:focus-visible,
select:focus,
select:focus-visible {
	outline: 0;
}

// Banner
section#banner {
	height: 100vh;
	padding: 100px 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
	position: relative;
	z-index: 2;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		background: rgb(0 0 0 / 51%);
		z-index: -2;
		display: block;
		width: 100%;
		height: 100%;
	}
	h1 {
		color: #fff;
		font-size: 80px;
		margin-bottom: 20px;
	}

	p {
		color: #fff;
		font-size: 24px;
	}

	a.sg-btn {
		padding: 15px 20px;
		border-radius: 6px;
		background: $color-primary;
		color: var(--sg-white) !important;
		margin: 20px 0 40px;
		display: inline-block;
		transition: all 0.3s;
		border: 2px solid $color-primary;
		&:hover {
			background: transparent;
			border-color: var(--sg-white);
		}
	}

	.sg-filter-row {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	input,
	select {
		width: 100%;
		padding: 12px 18px;
		border: 1px solid $color-primary;
		outline: 0;
		font-size: 14px;
		background-color: #fff;
		color: $color-primary;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom: 0;
		-webkit-appearance: none;
		appearance: none;

		&::placeholder {
			color: $color-primary;
		}
	}
	select {
		border-left: 0;
	}

	ul.location-lists {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;

		a {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 70px;
			height: 70px;
			background: #ddd;
			border-radius: 50%;
			font-size: 15px;
			color: #fff !important;
			background: var(--sg-icon-bg);
			box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
			transition: all 0.3s;
			&:hover {
				background: $color-primary;
			}
			h3 {
				font-size: inherit;
				margin-top: 6px;
			}
		}
	}
}

// Search replace
.quick-search {
	padding: 100px 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	text-align: center;
	position: relative;
	color: #fff;
	counter-reset: sag;
	.section-title {
		margin-bottom: 40px;
	}
	.single-qs-item {
		text-align: left;
		p {
			color: #fff;
		}
		&-top {
			padding-left: 45px;
			position: relative;
			&:before {
				position: absolute;
				left: 0;
				top: 0;
				font-size: 50px;
				color: #fff;
				counter-increment: sag;
				content: counter(sag);
				display: inline-block;
			}
		}
	}
}

// Location CPT
.locations-section {
	padding-top: 70px;
	padding-bottom: 70px;

	ul.location-lists {
		display: grid !important;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;

		li {
			list-style: none;
			position: relative;
			display: inline-flex;

			&:first-child {
				grid-row: 1 / 3;
				display: inline-grid;
			}

			a {
				width: 100%;
				display: block;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			h3 {
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}

// Location Taxonomy/ Category
.single-listing-item {
	background: #fff;

	.flex1 {
		flex: 1;
	}

	.sg-filter-row {
		display: flex;
		align-items: center;

		h5 {
			font-size: 17px;
			line-height: 1.3;
			font-weight: 500;
			margin: 15px 0;
			color: var(--sg-black);
		}

		input[type="text"],
		select {
			width: 100%;
			padding: 12px 18px;
			border: 1px solid $color-primary;
			outline: 0;
			font-size: 14px;
			background-color: #fff;
			color: $color-primary;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			margin-bottom: 0;
			-webkit-appearance: none;
			appearance: none;

			&::placeholder {
				color: $color-primary;
			}
		}

		select {
			border-left: 0;
		}
	}

	.sg-filter-row-2 {
		background: $color-primary;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
		// border-radius: 5px;

		p {
			font-size: 16px;
			color: #fff;
			margin: 5px 10px;
			flex: 1;
		}

		.sortby-row {
			display: flex;
			justify-content: space-between;
			flex: 2;

			select {
				width: 100%;
				justify-self: flex-end;
				background: transparent;
				border: 0;
				border-left: 1px solid #fff;
				color: #fff;
				-webkit-appearance: none;
				appearance: none;
				padding-left: 10px;
			}
		}
	}

	.sg-result-posts {
		ul {
			margin: 0;
			padding: 0;

			li {
				display: flex;
				gap: 20px;
				display: flex;
				margin-bottom: 20px;
			}

			.sg-feature-img {
				max-width: 255px;
				width: 100%;
				flex-shrink: 0;

				a {
					display: block;
				}
			}

			.sg-result-content {
				padding: 10px;

				.sg-listing-title {
					font-size: 24px;
					margin-bottom: 5px;
					color: var(--sg-black);
					a {
						color: inherit !important;
						font-size: inherit;
						line-height: inherit;
						letter-spacing: inherit;
					}
				}
				span.sg-listing-item-address {
					font-size: 14px;
					margin-bottom: 15px;
					color: #727272;
					display: inline-block;
				}
				.sg-post-excerpt {
					font-size: 16px;
					color: #000;
					line-height: 24px;
					margin-bottom: 15px;
				}
			}
		}
	}
}

// Testimonials
.testimonials-wrapper {
	padding: 40px 0;
	.single-testimonial-item {
		// display: flex !important;
		// align-items: center;
		// gap: 30px;

		img {
			max-width: 150px;
			height: 150px;
			object-fit: cover;
			margin-bottom: 30px;
			border-radius: 50%;
		}
	}

	.single-testimonial-item-top {
		h3 {
			font-size: 20px;
			margin-bottom: 15px;
		}

		h5 {
			font-weight: 400;
			font-size: 14px;
			color: #777;
		}
		p {
			font-size: 18px;
			font-style: italic;
			font-weight: 700;
		}
	}
}

// Share your experience
.discover-places,
.share-experience {
	padding: 80px 0;
	background: #fff;

	.single-posts {
		.single-post-item {
			margin-top: 20px;

			.single-post-item-content {
				position: relative;

				h3 {
					margin-right: 20px;
					color: $color-primary;
				}
			}

			img {
				max-width: 100%;
				height: auto;
				margin-bottom: 15px;
			}
		}
	}
}

// Wishlist
.sag-wishlist {
	position: absolute;
	top: -4px;
	right: 10px;
	background: #fff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 4px;
	-webkit-appearance: none;
	appearance: none;
	border: 0;
	&.wishlisted {
		background: #1e73be;
		i::before {
			color: #fff;
			content: "\f415";
		}
	}
}

// Single listing
.single-location-wrapper {
	background: #f8f8f8;
	.single-listing-banner {
		height: 300px;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	img {
		max-width: 100%;
		// height: 327px;
		height: 100%;
	}

	.single-listing-gallery {
		height: 387px;
		margin: 50px 0;
		box-sizing: border-box;

		.slick-arrow {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -25px;
			border: 0;
			height: 60px;
			width: 90px;
			background: rgb(0 0 0 / 35%);
			color: #fff;
			font-weight: 700;
			border-radius: 5px;
			transition: all 0.3s;
			z-index: 6;
			&.slick-next {
				left: unset;
				right: -25px;
			}
			&:hover {
				background: $color-primary;
			}
		}
	}

	ul.sag-tags {
		display: flex;
		margin: 0;
		padding: 0;
		flex-wrap: wrap;
		gap: 6px;
		a {
			border: 1px solid $color-primary;
			padding: 6px 12px;
			text-transform: uppercase;
			display: inline-block;
			font-weight: 500;
			color: var(--sg-black) !important;
			transition: all 0.3s;
			border-radius: 5px;
			&:hover {
				background: $color-primary;
				color: var(--sg-white) !important;
			}
		}
	}
}

// container 
.sag-container {
    // max-width: 1200px;
    position: relative;
    margin: -80px auto 0;
    padding: 60px;
    background: #fff;
}

// Sinle Post Video
.sag-video {
	margin: 40px 0;
	iframe {
		height: 380px;
		max-width: 680px;
		width: 100%;
	}
}

// Single Post List Style
.single-location-wrapper ul,
.single-location-wrapper ul.sag-amenities,
.single-location-wrapper ul.sag-ul {
	display: flex;
	align-items: center;
	margin: 0 0 20px;
	padding: 0;
	gap: 15px;
	i {
		color: $color-primary;
		margin-right: 8px;
	}
}

// Single Listing Socials
.sag-listing-socials {
	li {
		a {
			i {
				color: var(--sg-black);
				transition: all 0.3s;
			}
			&:hover {
				i {
					color: $color-primary !important;
				}
			}
		}
	}
}

// Single Listing Title
.single-listing-title {
	font-size: 18px;
	color: var(--sg-black);
	font-weight: 500;
	margin-bottom: 15px;
	span {
		font-size: 12px;
		margin-top: 5px;
		display: inline-block;
	}
}

// Plugin not install/ active
.plugin-not-active {
	background: var(--sg-warning);
	padding: 10px;
	display: block;
	margin: 10px 0;
	border-radius: 5px;
}

// Single Listing right side
.sag-g-map {
	position: relative;

	.sag-address {
		background: rgba(0, 0, 0, 0.65);
		color: #fff;
		padding: 20px;
		position: absolute;
		bottom: 0;
		width: 100%;
		p {
			color: var(--sg-white);
		}
		a {
			color: inherit !important;
		}
	}
}

// Single Listing Sidebar
.sag-listing-sidebar-item {
	margin: 20px 0;
}

// Single Listing Features
.single-listing-features {
	margin: 20px 0 10px;

	p {
		font-size: 14px;
		margin-bottom: 10px;
		color: #aaa;
		font-weight: 500;
	}
}

// Single Listing Form
.sag-form {
	.sag-enquire-div {
		border: 1px solid $color-primary;
		border-radius: 6px;
		input,
		select,
		textarea {
			font-size: 16px;
			border: 0;
			padding: 8px 15px;
			background: transparent;
			width: 100%;
			-webkit-appearance: none;
			appearance: none;
			color: $color-primary;
		}

		select + input,
		input + input {
			border-top: 1px solid $color-primary;
		}
		&.sag-enquire {
			border: 1px solid var(--sg-gray);
			select + input,
			input + textarea,
			input + input {
				border-top: 1px solid var(--sg-gray);
			}
			input,
			textarea,
			select {
				color: var(--sg-gray);
			}
		}
		textarea {
			outline: 0;
			resize: none;
		}
	}

	input[type="submit"] {
		border: 2px solid #1ab5c1;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		padding: 6px 20px 6px 15px;
		background: #1ab5c1;
		box-sizing: border-box;
		margin-top: 15px;
		width: auto;
		border-radius: 5px;
		color: #fff;
		transition: all 0.3s;
		text-align: left;
		&:after {
			content: "\f061";
			margin-left: 8px;
			font-size: inherit;
			font-family: "Font Awesome 5 Brands";
			font-family: "FontAwesome";
		}
		&:hover {
			background-color: transparent;
			color: $color-primary;
		}
	}
}

// Single Listing Recommended Post
.sag-recommended-post {
	.feature-img {
		position: relative;
        margin-bottom: 20px;
		.feature-title-cat {
			position: absolute;
			bottom: 20px;
            left: 20px;
            display: flex;
            align-items: center;
            font-weight: 500;
            .feature-title {
                font-size: 18px;
                color: var(--sg-white) !important;

            }
            i {
                padding: 6px;
                border-radius: 50%;
                background: $color-primary;
                width: 45px;
                height: 45px;
                color: var(--sg-white);
                display: flex;
                align-items: center;
                justify-content: center;
            }
		}
	}
}

// Footer
footer {
	position: relative;
	ul {
		display: flex;
		align-items: center;
        gap: 10px;
        margin: 0;
        padding: 0;
		li {
			a {
				font-size: 22px;
				color: var(--sg-white) !important;
				transition: all 0.3s;
				display: inline-block;
				&:hover {
					color: $color-primary !important;
				}
			}
		}
	}

	// Topbar
	.footer-top-holder {
		position: relative;
        padding: 60px 0;

		.footer-top-holder-wrapper {
			display: flex;
			justify-content: space-around;
			align-items: center;

            img {
                max-width: 151px;
            }
			.search-form {
				position: relative;
				input[type="search"] {
					border-radius: 10px;
					border: 2px solid var(--sg-white);
					padding: 10px 15px 10px 45px;
					font-size: 16px;
					line-height: 24px;
					color: var(--sg-black);

					&::placeholder {
						color: var(--sg-black);
					}
				}
				span {
					position: absolute;
					left: 20px;
					top: 50%;
					transform: translateY(-50%);
					color: $color-primary;
					font-size: inherit;
				}
			}

            @media (max-width: 767px){
                flex-direction: column;
                gap: 20px;
            }
		}

        @media (max-width: 767px){
            padding: 30px 0;
        }
	}

	.footer-bottom-holder {
        position: relative;
        padding: 25px 0;
        color: var(--sg-white);
        z-index: 1;
        text-align: center;
		&::before {
            content: '';
			background-color: rgba(0, 0, 0, 0.75);
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
            z-index: -1;
		}
		p {
			margin: 0;
			color: inherit;
            color: var(--sg-white);
            font-size: 16px;
		}
		a {
			color: $color-primary !important;
			&:hover {
				color: var(--sg-white) !important;
			}
		}
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.75);
	}
}

// Back to top
.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: $color-primary;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    cursor: pointer;
    transition: all .3s;
    transform: translateY(10px);
    &.show {
        display: block;
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }
    i {
        font-size: 40px;
        color: var(--sg-white);
        transition: all .3s;
    }
    &:hover i {
        color: var(--sg-black);
    }
}


// Socials Share
.sag-socials-share {
	position: absolute;
	top: -40px;
	right: 0;
	.sag-socials {
		border-radius: 3px;
		padding: 4px 15px;
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		display: flex;
		align-items: center;
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		background-color: rgba(255, 255, 255, 0.5);
		overflow: hidden;
		transition: all 0.3s;
		span {
			font-size: 15px;
			color: var(--sg-black);
			i {
				margin-right: 5px;
				color: var(--sg-black);
				font-size: 15px;
			}
		}
		ul {
			margin: 0 0 0 -170px;
			opacity: 0;
			transition: all 0.3s;
		}
		&:hover {
			background: $color-primary;
			span {
				color: var(--sg-white);
				i {
					color: var(--sg-white);
				}
			}
			ul {
				opacity: 1;
				margin: 0 0 0 15px;
                i {
					color: var(--sg-white);
				}
			}
		}
	}
}

// Blog Banner
.sag-blog-banner {
    height: 337px;
    background: url(https://searchandgo.qodeinteractive.com/wp-content/uploads/2016/03/blog-title.jpg) no-repeat center center/ cover;
}

// Blog Gallery
.sag-gallery-wrapper {
    .sag-blog-topbar {
        padding: 10px 0 40px 0;
    }
    .sag-gallery-masonry-wrapper {
        .sag-gallery{
            
        } 
        
        
    }
    .sag-masonry-gallery {
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
    }
    h3 {
        font-size: 22px;
        color: var(--sg-black);
        margin: 20px 0 10px;
        a {
            color: inherit !important;
        }
    }
    p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .sag-button {
        background-color: $color-primary;
        border-radius: 5px;
        font-size: 16px;
        text-transform: capitalize;
        padding: 5px 15px;
        display: inline-block;
        border: 2px solid $color-primary;
        color: var(--sg-white) !important;
        &:hover {
            background-color: transparent;
            color: $color-primary !important;
        }
    }
}

// Masonry gallery
.grid {
	&:after {
		content: '';
		display: block;
		clear: both;
	}  
	.grid-sizer,
	.grid-item { 
		width: calc( 33.333% - 10px);
		float: left;
		padding: 5px;
		margin-bottom: 15px;
		img {
			display: block;
			width: 100%;
		}
	} 
}

// Load MOre Posts
.sag-load-posts {
	position: relative;
	margin: 20px auto;
	text-align: center;
	a {
		color: var(--sg-white) !important;
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
		background: $color-primary;
		border: 2px solid $color-primary;
		padding: 8px 16px;
		border-radius: 6px;
		&:hover {
			color: $color-primary !important;
			background: transparent;
		}
	}
}


// Pricing 
.sag-pricing-container {
	.sag-pricing {
		// display: flex;
		// gap: 40px;

		.sag-single-pricing {
			&-inner {
				// flex: 1;
				border: 1px solid #ddd;
				margin: 20px 0;
				position: relative;
				border-radius: 3px;
			}
		}

		.sag-pricing-header {
			padding: 30px;
			text-align: center;

			span {
				font-size: 60px;
				color: $color-primary;
				font-weight: 500;
				line-height: 60px;
			}
		}
	}
	
		ul {
			padding: 0;
	
			li {
				font-size: 18px;
				line-height: 40px;
				padding: 8px 30px;
				background-color: var(--sg-white);
	
				i {
					margin-right: 10px;
					color: $color-primary;
				}
	
				&:nth-child(odd) {
					background: #ddd;
				}
			}
	
			&.sag-gold-list {
				li {
					background: transparent;
					line-height: 20px;
					padding-left: 0;
				}
			}
		}

	.sag-button {
		display: block;
		max-width: fit-content;
		margin: 10px auto 20px;
	}
	.is-featured {
		.featured-content{
			position: absolute;
			background: $color-primary;
			padding: 6px 12px;
			top: -37px;
			width: fit-content;
			right: 20px;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			color: var(--sg-white);
		}
	}

	.sag-gold-member {
		padding: 40px 0;
	}
}